<footer class="footer">
<small>
The <a href="https://welcomehomes.com/">Welcome Homes Sample</a>
by <a href="https://www.linkedin.com/in/ronald-cuello/">Ronald Cuello</a>
</small>
<nav>
<ul>
<li><%= link_to "About", about_path %></li>
<li><%= link_to "Help", help_path %></li>
<li><a href="https://welcomehomes.com/">Welcome Home</a></li>
</ul>
</nav>
</footer>